body{background-color: rgb(20, 144, 153);}



    header{
    font-family: 'Haikyuu';
        color: rgb(255, 255, 255);
        text-align: center;
        justify-content: center;
        font-size: 30px;
    
    
    }
    
     
    .fuko{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.5; 
        padding: 10px;
        border: 2px solid #ffffffbe;
        margin: 80px;
        display: flex;
        font-size: 20px;
        background-color: #0000007e;
        color: #f7f7f7;
    
    
    
    
     }
    
     .fuko-p{
        width: 50%;
    
     }
    
     .ff{
        color: white;
        width: 25vw;
       
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        line-height: 1.5; 
        padding: 10px;
        border: 2px solid #ffffff;
        margin: 80px;
        display: flex;
        font-size: 20px;
        background-color: #0000007e;
    
    
    }
    
    .jjh{
        color: white;
        width: 25vw;
       
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        line-height: 1.5; 
        padding: 10px;
        border: 2px solid #ffffff;
        margin: 80px;
        display: flex;
        font-size: 20px;
        background-color: #0000007e;
    }
    
    .kk{
        display: inline-block;
    }
    
    #HH{
        width: 90%;
    }
    
    
    .ak{
        
        color: white;
        width: 25vw;
       
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        line-height: 1.5; 
        padding: 10px;
        border: 2px solid #ffffff;
        margin: 80px;
        display: flex;
        font-size: 20px;
        background-color: #0000007e;
    }
    
    .ab{
        color: white;
        width: 25vw;
       
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        line-height: 1.5; 
        padding: 10px;
        border: 2px solid #ffffff;
        margin: 80px;
        display: flex;
        font-size: 20px;
        background-color: #0000007e;
    
    }
    
    .ac{
        color: white;
        width: 25vw;
       
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        line-height: 1.5; 
        padding: 10px;
        border: 2px solid #ffffff;
        margin: 80px;
        display: flex;
        font-size: 20px;
        background-color: #0000007e;
    
    }
    
    
    .ad{
        color: white;
        width: 25vw;
       
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        line-height: 1.5; 
        padding: 10px;
        border: 2px solid #ffffff;
        margin: 80px;
        display: flex;
        font-size: 20px;
        background-color: #0000007e;
    
    }
    
    
    .ae{
        color: white;
        width: 25vw;
       
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        line-height: 1.5; 
        padding: 10px;
        border: 2px solid #ffffff;
        margin: 80px;
        display: flex;
        font-size: 20px;
        background-color: #0000007e;
    
    }
    
    
    footer{
        position: sticky;
        top: 2500px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    
    










